{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<main>

  <header>
    <h1 align=center>{{ .Title }}</h1>
    {{ if isset .Params "author" }}
    <section class="author">
      <p align=center> <b>Redactado por: {{ index .Params "author" }}</b></p>
    </section>
    {{ else if isset .Site.Params "author" }}
    <section class="author">
      <p align=center><b>Redactado por: {{ index .Site.Params "author" }}</b></p>
    </section>
    {{ end }}
  </header>
  </br>

	<article>
		{{ .Content }}
	</article>
</main>

<div id="bottom-nav" class="text-center center-block">
	<a href=" {{ .Site.BaseURL }}" class="btn btn-default"><i class="fa fa-home"></i> Home</a>
</div>

{{ if .Site.DisqusShortname }}
  {{ template "_internal/disqus.html" . }}
{{ end }}

{{ partial "footer.html" . }}
